html, body{
    background-color: #aaa;
    text-align: center;
    font-family: 'Anton';
}
canvas {
	background-color: #000;
	border-radius: 10px;
    outline: none;
    width: 448px;
    height: 512px;
    image-rendering: pixelated;
}